$primary-color: #ffffff;
$primary-hover: #1156d6d1;
$primary-active: #cacad4d1;
$border-color: #dbbdbf;
$background-grey: #f4f4f4;
$primaryColor: #ffff;

$light: #f5f5f5;
$text-light: #fff;
$text-dark: #000;

$background-dark: #d3d3d3;
$background-dark-web: #16212b;

$border-grey: #e8dfdf;
$border-grey-hover: #c4c4c4;

// Status
$success: #2e760b;
$warning: #faad14;
$error: #c01d1f;
$info: #1890ff;

// Social color
$youtube: #cd201f;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin: #0077b5;

$dark: #333333;
$white: #ffffff;
$light-grey: #f5f5f5;
$grey: #808080;
$dark-grey: #404040;
$black: #000000;